.notice-dashlet .text-content {
   margin-top: -10px;
}
.notice-dashlet .text-content h1, .notice-dashlet .text-content h2, .notice-dashlet .text-content h3, .notice-dashlet .text-content h4, .notice-dashlet .text-content h5, .notice-dashlet .text-content h6 {
   margin-top: 10px;
}
.notice-dashlet .text-content p {
   margin-top: 10px;
   padding-top: 0;
   padding-bottom: 0;
}